a {
	margin: 5px;
	color: #ffffff;
 }
 a:link {
    color: #ffffff; 
    padding: 2px; 
   }
   a:hover { 
    color: #ffffff;  
   } 
 }
.body {
background: #ffffff url(images/bg.jpg);
width: 1920PX;
height: 1080px;
}